.pagination {
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
  gap: 17px;
}

.narrows {
  outline: none;
  background-color: transparent;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: 1px solid var(--main);
}

.narrows:disabled {
  opacity: 0.5;
  cursor: not-allowed;
  border: 1px solid var(--placeholder);
}

.narrow {
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  stroke: var(--black);
  fill: transparent;
}

.buttons {
  display: flex;
  align-items: center;
  gap: 4px;
}

.numbers {
  display: flex;
  align-items: center;
  gap: 4px;
}

.active {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: 1px solid var(--green);
  background-color: var(--green);
  color: var(--white);
  font-size: 14px;
  font-weight: 600;
}

.number {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: 1px solid var(--placeholder);
  background-color: transparent;
  color: var(--black);
  font-size: 14px;
  font-weight: 600;
}

@media screen and (min-width: 768px) {
  .pagination {
    margin-bottom: 120px;
    gap: 24px;
  }

  .buttons {
    gap: 8px;
  }

  .numbers {
    gap: 10px;
  }

  .narrows {
    width: 44px;
    height: 44px;
  }

  .narrow {
    width: 24px;
    height: 24px;
  }

  .active {
    width: 44px;
    height: 44px;
  }

  .number {
    width: 44px;
    height: 44px;
    font-size: 18px;
  }
}
