.wrapper {
  max-width: 335px;
  padding: 20px 20px 40px 20px;
  border-radius: 27px;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.buttons {
  display: flex;
  gap: 8px;
}

.button {
  padding: 8px 25px;
  border-radius: 40px;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: -0.05em;
  transition: all 0.3s ease;
}

.button:not(.active):hover,
.button:not(.active):focus {
  background-color: var(--dark-green);
  color: var(--white);
}

.active {
  background-color: var(--green);
  color: var(--white);
}

.button:not(.active) {
  background-color: var(--light-green);
  color: var(--green);
}

@media screen and (min-width: 768px) {
  .wrapper {
    width: 704px;
    max-width: 704px;
    padding: 32px 32px 64px 32px;
    gap: 32px;
  }
}

@media screen and (min-width: 1440px) {
  .wrapper {
    width: 800px;
    max-width: 800px;
    height: 709px;
    padding: 40px 40px 68px 40px;
    gap: 40px;
  }
}
