.page {
  display: flex;
  height: 812px;
  flex-direction: column;
  gap: 50px;
  background-image: image-set(
    url("../../../public/img/back-mb-1x.webp") type("image/webp"),
    url("../../../public/img/back-mb-1x.png") type("image/png")
  );
  background-repeat: no-repeat;
  background-position: bottom 0 right 0;
  background-size: 192px 154px;
}

.wrap {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

@media (min-resolution: 192dpi) {
  .info {
    background-image: image-set(
      url("../../../public/img/back-mb-2x.webp") type("image/webp"),
      url("../../../public/img/back-mb-2x.png") type("image/png")
    );
  }
}

@media screen and (min-width: 768px) {
  .page {
    height: 1024px;
    gap: 64px;
    background-size: 275px 250px;
    background-image: image-set(
      url("../../../public/img/back-tb-1x.webp") type("image/webp"),
      url("../../../public/img/back-tb-1x.png") type("image/png")
    );
  }

  @media (min-resolution: 192dpi) {
    .info {
      background-image: image-set(
        url("../../../public/img/back-tb-2x.webp") type("image/webp"),
        url("../../../public/img/back-tb-2x.png") type("image/png")
      );
    }
  }

  .wrap {
    gap: 54px;
  }
}

@media screen and (min-width: 1440px) {
  .page {
    height: 800px;
    gap: 122px;
  }

  .wrap {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
  }
}
