@import "modern-normalize";

:root {
  --green: #59b17a;
  --dark-green: #3f945f;
  --light-green: rgba(89, 177, 122, 0.1);
  --background: #f7f8fa;
  --white: #ffffff;
  --black: #1d1e21;
  --red: #e85050;
  --rose: rgba(232, 80, 80, 0.1);
  --yellow: #ffc531;
  --main: #93939a;
  --border-input: rgba(29, 30, 33, 0.2);
  --placeholder: rgba(29, 30, 33, 0.4);
  --total: #e7f1ed;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  font-family: "Inter", sans-serif;
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--dark);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  cursor: pointer;
  outline: none;
  border: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  width: 100%;
  max-width: 375px;
  padding: 20px;
  background-color: var(--background);
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    max-width: 768px;
    padding: 28px 32px 32px 32px;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    width: 1440px;
    max-width: 1440px;
    padding: 28px 100px 40px 100px;
  }
}
