@import "modern-normalize";

:root {
  --green: #59b17a;
  --dark-green: #3f945f;
  --light-green: rgba(89, 177, 122, 0.1);
  --background: #f7f8fa;
  --white: #ffffff;
  --black: #1d1e21;
  --red: #e85050;
  --rose: rgba(232, 80, 80, 0.1);
  --yellow: #ffc531;
  --main: #93939a;
  --border-input: rgba(29, 30, 33, 0.2);
  --shadow: rgba(29, 30, 33, 0.3);
  --placeholder: rgba(29, 30, 33, 0.4);
  --total: #e7f1ed;
  --border-social: rgba(247, 248, 250, 0.1);
  --border-social-hover: rgba(247, 248, 250, 0.5);
  --background-banner: #fdfdfd;
  --border-banner: #f1f1f1;
  --background-number: rgba(231, 241, 237, 0.4);
  --banner: #252539;
  --border-link: rgba(241, 241, 241, 0.5);
  --border-product: rgba(89, 177, 122, 0.6);
  --text: #6a6a6f;
  --overlay: rgba(29, 30, 33, 0.45);
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  font-family: "Inter", sans-serif;
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  background-color: var(--background);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  cursor: pointer;
  outline: none;
  border: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 100vw;
  max-width: 320px;
  padding: 20px;
  margin: 0 auto;
  overflow: hidden;
}

@media screen and (min-width: 375px) {
  .container {
    max-width: 375px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    max-width: 768px;
    padding: 28px 32px 32px 32px;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    width: 1440px;
    max-width: 1440px;
    padding: 28px 96px 40px 96px;
  }
}
